body {
  text-align: center;
}
h2 {
  font-family: "Oswald", sans-serif;
}
img {
  width: 600px;
  height: 600px;
}
p {
  font-family: "Montserrat", sans-serif;
  font-family: "Oswald", sans-serif;
}
